<script lang="ts">
	import {
		BlockTitle,
		Breadcrumbs,
		BreadcrumbsItem,
		BreadcrumbsSeparator,
		Button,
		Icon,
		Link,
		List,
		ListInput,
		Navbar,
		Page
	} from 'konsta/svelte';
	import { page } from '$app/stores';
	import type { PageData } from './$types';
	import { parsePhoneNumber } from 'libphonenumber-js';
	import TrashIcon from '../../../components/Icons/TrashIcon.svelte';
	import { generateRandomStringProtected } from '$lib/utils/generateRandomString';
	import type { Number } from '@prisma/client';

	export let data: PageData;

	let numbers: Number[] = [];

	if (data.contact) {
		for (let number of data.contact.numbers) {
			try {
				numbers.push({ ...number, number: parsePhoneNumber(number.number).formatInternational() });
			} catch (e) {
				console.log(e);
			}
		}
	}

	export let id = $page.params.id;

	let errors: Record<string, { message: string; error: boolean }> = {};
	function handleInput(e: Event, id: string) {
		const target = e.target as HTMLInputElement;
		const value = target.value;

		try {
			const phoneNumber = parsePhoneNumber(value);
			target.value = phoneNumber.formatInternational();
			errors[id] = { message: '', error: false };
		} catch (e) {
			if (e instanceof Error) {
				errors[id] = { message: e.message, error: true };
			}
		}
	}
</script>

<Page>
	<Navbar title={id === 'add' ? 'Add new contact' : 'Edit contact'}>
		<Breadcrumbs>
			<BreadcrumbsItem>
				<Link>
					<a href="/contacts"> Contacts </a>
				</Link>
			</BreadcrumbsItem>
			<BreadcrumbsSeparator />
			<BreadcrumbsItem active>
				<Link>{data.contact?.name ? data.contact?.name : 'new contact'}</Link>
			</BreadcrumbsItem>
		</Breadcrumbs>
	</Navbar>
	<form method="POST">
		<BlockTitle>Contact Info</BlockTitle>
		<List strongIos insetIos>
			<ListInput
				name="name"
				label="Name"
				type="text"
				placeholder="Name of the contact"
				value={data.contact?.name}
				required
			/>
			<ListInput
				name="description"
				label="Description"
				type="text"
				placeholder="Description of the contact"
				value={data.contact?.description}
			/>
		</List>
		<BlockTitle>Numbers</BlockTitle>
		<List strongIos insetIos>
			{#if numbers}
				{#each numbers as number}
					<div class={number.id.includes('del') ? 'hidden' : 'flex'}>
						<ListInput
							name="number-{number.id}"
							id={number.id}
							label="Number"
							type="tel"
							placeholder="Number"
							value={number.number}
							onInput={(e) => {
								handleInput(e, number.id);
								if (!number.id.includes('-edited') && !number.id.includes('-new')) {
									number.id = `${number.id}-edited`;
								}
							}}
							error={errors[number.id] && errors[number.id].error && errors[number.id].message}
							class="w-full"
						/>
						<div class="flex items-center pr-2.5">
							<Button
								rounded
								outline
								class="w-fit"
								onClick={(e) => {
									e.preventDefault();
									number.id = `${number.id}-deleted`;
								}}
							>
								<Icon>
									<TrashIcon />
								</Icon>
							</Button>
						</div>
					</div>
				{/each}
			{/if}
			<div class="px-5 pt-2">
				<Button
					tonal
					onClick={(e) => {
						e.preventDefault();
						const date = new Date();
						const newNumber = {
							id: `${generateRandomStringProtected(10)}-new`,
							number: '',
							contactId: id,
							weirdType: false,
							createdAt: date,
							updatedAt: date
						};
						numbers = [...numbers, newNumber];
					}}>Add New Number</Button
				>
			</div>
		</List>
		<div class="px-5">
			<Button>Save</Button>
		</div>
	</form>
</Page>
