<script lang="ts">
	import { page } from '$app/stores';
	import {
		Button,
		Card,
		Dialog,
		DialogButton,
		Link,
		List,
		ListItem,
		Navbar,
		Page,
		Toast
	} from 'konsta/svelte';
	import FileUpload from '../../components/FileUpload.svelte';
	import type { PageData } from './$types';
	import moment from 'moment';
	import { notypecheck } from '$lib/utils/noTypeCheck';

	export let data: PageData;

	let alertOpenedForId: string | null = null;

	// Toast
	let toastOpened = false;
	let toastMessage = '';

	// Watch for changes in $page.form
	$: if ($page.form?.success) {
		toastMessage = $page.form.success;
		toastOpened = true;
		setTimeout(() => (toastOpened = false), 3000);
	} else if ($page.form?.error) {
		toastMessage = $page.form.error;
		toastOpened = true;
		setTimeout(() => (toastOpened = false), 3000);
	}
</script>

<Page>
	<Navbar title="Import Messages" />
	<Card>
		To export messages from android phone use <Link
			><a href="https://f-droid.org/packages/com.github.tmo1.sms_ie/">this</a></Link
		> app
	</Card>
	<Card>
		<FileUpload />
	</Card>

	{#if data.imports.length > 0}
		<List strong inset>
			{#each data.imports as imported}
				<ListItem title={moment(imported.createdAt).calendar()}>
					<div slot="after">
						<!-- Remove button opens the confirmation dialog -->
						<button type="button" on:click={() => (alertOpenedForId = imported.id)}>Remove</button>
					</div>
				</ListItem>
			{/each}
		</List>
	{/if}

	<!-- Confirmation Dialog -->
	<Dialog opened={alertOpenedForId !== null} onBackdropClick={() => (alertOpenedForId = null)}>
		<svelte:fragment slot="title">Confirm Deletion</svelte:fragment>
		Are you sure you want to delete this import?
		<svelte:fragment slot="buttons">
			<!-- Cancel button closes the dialog -->
			<DialogButton onClick={() => (alertOpenedForId = null)}>Cancel</DialogButton>
			<!-- Delete button submits the form -->
			<form method="post" style="display: inline;">
				<input type="hidden" name="importId" value={alertOpenedForId} />
				<input type="hidden" name="action" value="delete" />

				<!-- @ts-ignore -->
				<DialogButton
					{...notypecheck({
						type: 'submit'
					})}>Delete</DialogButton
				>
			</form>
		</svelte:fragment>
	</Dialog>

	<Toast position="center" opened={toastOpened}>
		<Button slot="button" clear inline onClick={() => (toastOpened = false)}>Close</Button>
		<div class="shrink">
			{toastMessage}
		</div>
	</Toast>
</Page>
