<script lang="ts">
	import { Button, Dialog, DialogButton, Preloader, Toast } from 'konsta/svelte';

	let file: File | null = null;
	let errorMessage = '';

	const handleFileChange = async (event: Event) => {
		const input = event.target as HTMLInputElement;
		if (input.files && input.files.length > 0) {
			file = input.files[0];

			if (file) {
				uploading = true;
				const formData = new FormData();
				formData.append('file', file);

				try {
					const response = await fetch('/api/upload', {
						method: 'POST',
						body: formData
					});

					const result = await response.json();
					if (!response.ok) throw new Error(result.message);
					toastOpened = true;
					toastMessage = 'Uploaded success';
				} catch (error) {
					console.error(error);
					errorMessage = (error as Error).message;
					toastOpened = true;
					toastMessage = errorMessage;
				} finally {
					uploading = false;
				}
			}
		}
	};

	let uploading = false;

	// Toast
	let toastOpened = false;
	let toastMessage = '';
</script>

{#if uploading === false}
	<div class="flex items-center justify-center w-full">
		<label
			for="dropzone-file"
			class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
		>
			<div class="flex flex-col items-center justify-center pt-5 pb-6">
				<p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
					<span class="font-semibold">Click to upload</span> or drag and drop
				</p>
				<p class="text-xs text-gray-500 dark:text-gray-400">.ndjson</p>
			</div>
			<input
				class="hidden"
				id="dropzone-file"
				type="file"
				accept=".ndjson"
				on:change={handleFileChange}
			/>
		</label>
	</div>
{:else}
	<div class="text-center">
		<Preloader size="w-16 h-16" />
	</div>
{/if}

<Dialog opened={errorMessage !== ''} onBackdropClick={() => (errorMessage = '')}>
	<svelte:fragment slot="title">File upload error</svelte:fragment>
	{errorMessage}
	<svelte:fragment slot="buttons">
		<DialogButton onClick={() => (errorMessage = '')}>Ok</DialogButton>
	</svelte:fragment>
</Dialog>

<Toast position="center" opened={toastOpened}>
	<Button slot="button" clear inline onClick={() => (toastOpened = false)}>Close</Button>
	<div class="shrink">
		{toastMessage}
	</div>
</Toast>
