<script lang="ts">
	import type { PageData } from './$types';

	import { Icon, Link, List, ListGroup, ListItem, Navbar, Page, Searchbar } from 'konsta/svelte';
	import type { Contact } from '@prisma/client';
	import AddIcon from '../../components/Icons/AddIcon.svelte';
	import { goto } from '$app/navigation';
	import { normalizeNumber } from '$lib/utils/normalizeNumber';

	let searchQuery = '';

	export let data: PageData;

	interface GroupedContacts {
		[letter: string]: Contact[]; // The key is a letter, and the value is an array of contacts
	}

	let groupedContacts = groupContactsByFirstLetter(data.contacts);

	// Now you can use these interfaces in your function
	function groupContactsByFirstLetter(contacts: Contact[]): GroupedContacts {
		return contacts
			.sort((a, b) => a.name.localeCompare(b.name))
			.reduce((acc, contact) => {
				const firstLetter = contact.name[0].toUpperCase();
				if (!acc[firstLetter]) {
					acc[firstLetter] = [];
				}
				acc[firstLetter].push(contact);
				return acc;
			}, {} as GroupedContacts);
	}

	function searchContacts(query: string) {
		return data.contacts.filter((contact) => {
			const matchNameOrDescription =
				contact.name.toLowerCase().includes(query.toLowerCase()) ||
				contact.description.toLowerCase().includes(query.toLowerCase());

			const matchNumber = contact.numbers.some((number) => {
				const normalizedNumber = normalizeNumber(number.number);
				return normalizedNumber ? normalizedNumber.includes(query) : false;
			});

			return matchNameOrDescription || matchNumber;
		});
	}

	let filteredContacts: Contact[] = [];
</script>

<Page>
	<Navbar title="Contacts List">
		<Searchbar
			slot="subnavbar"
			onInput={(e) => {
				searchQuery = e.target.value;
				if (e.target.value) {
					filteredContacts = searchContacts(e.target.value);
				}
			}}
			value={searchQuery}
			onClear={() => {
				searchQuery = '';
				filteredContacts = [];
			}}
			disableButton
			disableButtonText="Cancel"
			onDisable={() => {
				searchQuery = '';
				filteredContacts = [];
			}}
		/>
		<Link slot="right" navbar>
			<div
				tabindex="0"
				role="button"
				aria-label="Add new contact"
				on:click={() => goto('/contacts/add')}
				on:keydown={(event) => {
					if (event.shiftKey && event.key === 'n') {
						event.preventDefault();
						goto('/contacts/add');
					}
				}}
			>
				<Icon>
					<AddIcon />
				</Icon>
			</div>
		</Link>
	</Navbar>
	<List strongIos class="ios:my-0">
		{#if searchQuery.length > 0}
			<ListGroup>
				{#each filteredContacts as contact}
					<ListItem title={contact.name} contacts href={`/contacts/${contact.id}`} />
				{/each}
			</ListGroup>
		{:else}
			{#each Object.keys(groupedContacts) as ContactLetter}
				<ListGroup>
					<ListItem title={ContactLetter} groupTitle contacts />
					{#each groupedContacts[ContactLetter] as contact}
						<ListItem title={contact.name} contacts href={`/contacts/${contact.id}`} />
					{/each}
				</ListGroup>
			{/each}
		{/if}
	</List>
</Page>
