<script lang="ts">
	import type { LatestMessage } from '$lib/server/actions/messages/getListMessagesForUser';
	import { BlockTitle, Card, Link, List, ListItem } from 'konsta/svelte';
	import { shortString } from '$lib/utils/shortString';
	import { formatDateMessage } from '$lib/utils/formatDateMessage';
	import getOTP from '$lib/utils/getOTP';
	import { createEventDispatcher } from 'svelte';

	export let messages: LatestMessage[];
	const dispatch = createEventDispatcher<{ select: { id: string } }>();
</script>

{#if messages.length === 0}
	<BlockTitle withBlock={false}>No messages founded</BlockTitle>
	<Card>
		Try to import messages <Link><a href="/import">here</a></Link>
	</Card>
{:else}
	<List strong inset class="overflow-y-scroll h-[89vh]">
		{#each messages as message}
			<div
				tabindex="0"
				role="button"
				aria-label="Select message"
				on:click={() => {
					dispatch('select', {
						id: (message.numberRaw ? message.numberRaw : message.Number?.Contact.id) || 'Nope'
					});
				}}
				on:keydown={() => {}}
			>
				<ListItem
					link
					title={message.Number?.Contact?.name
						? message.Number?.Contact?.name
						: message.numberRaw
							? message.numberRaw
							: 'Unknown'}
					subtitle={getOTP(message.content) ? `OTP: ${getOTP(message.content)}` : ''}
					after={formatDateMessage(message.createdAt)}
					text={shortString(message.content, 512)}
				/>
			</div>
		{/each}
	</List>
{/if}
