<script lang="ts">
	import { Navbar, Page, Block, Card } from 'konsta/svelte';
	import type { PageData } from './$types';
	import MessagesList from '../components/Messages/MessagesList.svelte';
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import MessagesBox from '../components/Messages/MessagesBox/MessagesBox.svelte';
	import { formatNumber } from '$lib/utils/formatNumber';

	export let data: PageData;

	$: selected = $page.url.searchParams.get('selectedChat') || '';

	function handleSelect(event: CustomEvent<{ id: string }>): void {
		selected = event.detail.id;
		goto(`?selectedChat=${selected}`);
	}

	$: title = data.selectedChatData
		? `Messages with ${data.selectedChatData.contact ? data.selectedChatData.contact.name : formatNumber(selected)}`
		: 'Messages';
</script>

<svelte:head>
	<title>Kavshiri SIM | {title}</title>
	<meta name="description" content="Kavshiri SIM | Messages" />
</svelte:head>

<Page>
	<Navbar {title} />

	<div class="flex">
		<div class="my-0 w-1/3">
			{#if data.messages}
				<MessagesList messages={data.messages} on:select={handleSelect} />
			{/if}
		</div>
		<Block class="w-2/3 my-0 flex">
			{#if !selected}
				<div class="w-full h-full flex items-center justify-center">
					<p>Select messages</p>
				</div>
			{:else}
				<Card contentWrap={false} class="my-0 flex w-full overflow-y-scroll h-[89vh]">
					{#if data.selectedChatData}
						<MessagesBox messagesData={data.selectedChatData} contactsData={data.contacts} />
					{/if}
				</Card>
			{/if}
		</Block>
	</div>
</Page>
