<script lang="ts">
	import {
		Messagebar,
		Messages,
		MessagesTitle,
		Icon,
		Link,
		Navbar,
		Popover,
		List,
		ListItem,
		Popup,
		Page,
		Block
	} from 'konsta/svelte';
	import { onMount, afterUpdate } from 'svelte';
	import { type Contact, type Messages as MessagesPrisma } from '@prisma/client';
	import type { GetMessagesForUserResult } from '$lib/server/actions/messages/getMessagesForUser';
	import SendIcon from '../../Icons/SendIcon.svelte';
	import Message from './Message.svelte';
	import AddIcon from '../../Icons/AddIcon.svelte';

	// Grouped Messages Type
	interface GroupedMessages {
		[groupedDate: string]: MessagesPrisma[];
	}
	let messagesContainer: HTMLElement | null = null;
	let popoverOpened = false;
	let popupContactAdd = false;

	export let messagesData: GetMessagesForUserResult = {
		contact: null,
		messages: []
	};
	export let contactsData: Contact[] | null = null;

	const scrollToBottom = (animate = true) => {
		if (!messagesContainer) return;
		messagesContainer.scrollTo({
			top: messagesContainer.scrollHeight - messagesContainer.offsetHeight,
			behavior: animate ? 'smooth' : 'auto'
		});
	};

	onMount(() => {
		scrollToBottom(false);
	});

	afterUpdate(() => {
		scrollToBottom(false);
	});

	function groupMessagesByDay(messages: MessagesPrisma[]): GroupedMessages {
		// Helper to extract the date part (YYYY-MM-DD) from the timestamp
		function getDayString(date: Date): string {
			// Convert to ISO string and take only the date part
			return date.toISOString().split('T')[0];
		}

		// Grouping messages by date
		const groupedMessages: GroupedMessages = {};

		messages.forEach((message) => {
			const dayString = getDayString(new Date(message.createdAt));

			if (!groupedMessages[dayString]) {
				groupedMessages[dayString] = [];
			}
			groupedMessages[dayString].push(message);
		});

		// Sorting the grouped messages by date (YYYY-MM-DD)
		const sortedGroupedMessages: GroupedMessages = {};
		Object.keys(groupedMessages)
			.sort((a, b) => new Date(a).getTime() - new Date(b).getTime())
			.forEach((day) => {
				sortedGroupedMessages[day] = groupedMessages[day];
			});

		return sortedGroupedMessages;
	}

	// Formatters for date and time
	const dateFormatter = new Intl.DateTimeFormat('en-US', {
		weekday: 'long',
		month: 'short',
		day: 'numeric',
		year: 'numeric'
	});

	// Group the messages
	$: groupedMessages = groupMessagesByDay(messagesData.messages);

	let messageText = '';
</script>

<!-- Messages Container -->
<div
	class="overflow-y-auto flex flex-col justify-between w-full h-full"
	bind:this={messagesContainer}
>
	<Messages class="w-full mb-6">
		{#each Object.entries(groupedMessages) as [groupDate, messagesGroup]}
			<MessagesTitle class="pb-2">{dateFormatter.format(new Date(groupDate))}</MessagesTitle>

			{#each messagesGroup as message, index (index)}
				<Message {messagesData} {message} />
			{/each}
		{/each}
	</Messages>
	<Messagebar
		class="sticky bottom-0 bg-white z-1000"
		placeholder="Message"
		value={messageText}
		onInput={(e) => {
			messageText = e.target.value;
		}}
	>
		<Link
			toolbar
			iconOnly
			slot="left"
			class="popover"
			onClick={() => {
				popoverOpened = true;
			}}
		>
			<Icon>
				<AddIcon />
			</Icon>
		</Link>
		<Link toolbar slot="right">
			<div
				role="button"
				tabindex="0"
				aria-label="Send message"
				on:click={() => {
					messageText = '';
				}}
				on:keydown={() => {}}
			>
				<Icon>
					<SendIcon />
				</Icon>
			</div>
		</Link>
	</Messagebar>

	<Popover
		opened={popoverOpened}
		target={'.popover'}
		onBackdropClick={() => (popoverOpened = false)}
	>
		<List nested>
			<ListItem
				title="Add to contact"
				link
				onClick={() => {
					popoverOpened = false;
					popupContactAdd = true;
				}}
			/>
			<ListItem title="More info" link onClick={() => (popoverOpened = false)} />
		</List>
	</Popover>

	<Popup opened={popupContactAdd} onBackdropClick={() => (popupContactAdd = false)}>
		<Page>
			<Navbar title="Add to contact">
				<Link slot="right" navbar onClick={() => (popupContactAdd = false)}>Close</Link>
			</Navbar>
			<Block class="">
				{#if contactsData}
					{#each contactsData as contact}
						<ListItem title={contact.name} />
					{/each}
				{/if}
			</Block>
		</Page>
	</Popup>
</div>
