<script lang="ts">
	import { Button, Message, Toast } from 'konsta/svelte';
	import type { Messages as MessagesPrisma } from '@prisma/client';
	import type { GetMessagesForUserResult } from '$lib/server/actions/messages/getMessagesForUser';
	import getOTP from '$lib/utils/getOTP';
	import copyToClipboard from '$lib/utils/copyToClipboard';

	export let message: MessagesPrisma;
	export let messagesData: GetMessagesForUserResult = {
		contact: null,
		messages: []
	};

	// Formatters for date and time
	const dateFormatter = new Intl.DateTimeFormat('en-US', {
		hour: '2-digit',
		minute: '2-digit',
		hour12: false
	});

	$: createdAtTime = dateFormatter.format(message.createdAt);

	// Toast
	let toastOpened = false;
	let toastMessage = '';

	function alert(message: string) {
		toastMessage = message;
		toastOpened = true;
		setTimeout(() => (toastOpened = false), 3000);
	}
</script>

<Message
	footer="{createdAtTime} {messagesData.contact ? `from ${message}` : ''}"
	type={message.isSent ? 'sent' : 'received'}
	name={getOTP(message.content) ? `OTP: ${getOTP(message.content)}` : ''}
	text={message.content}
	onClick={() => {
		const otp = getOTP(message.content);
		if (otp) {
			alert(`OTP was copied to clipboard`);
			copyToClipboard(otp.toString());
		}
	}}
/>

<Toast position="center" opened={toastOpened}>
	<Button slot="button" clear inline onClick={() => (toastOpened = false)}>Close</Button>
	<div class="shrink">
		{toastMessage}
	</div>
</Toast>
