<script lang="ts">
	import { Button, Card, Link, List, ListInput, Page, Sheet, Toolbar } from 'konsta/svelte';
	import { validateEmail, validatePassword } from '$lib/auth/validators/login';
	import type { ActionData, PageData } from './$types';
	import { notypecheck } from '$lib/utils/noTypeCheck';

	let password = { value: '', changed: false };
	let email = { value: '', changed: false };
	let sheetOpened = false;

	export let form: ActionData;
	export let data: PageData;
</script>

<Page>
	<div class="flex flex-col h-full items-center justify-center">
		<Card>
			<form method="POST" action="login">
				<List margin="">
					<h1 class="text-center pb-2 text-lg">Login to your account</h1>
					<ListInput
						label="Email"
						name="email"
						type="email"
						placeholder="Your e-mail"
						value={email.value}
						error={email.changed && validateEmail(email.value) ? validateEmail(email.value) : ''}
						onInput={(e) => {
							email = { value: e.target.value, changed: true };
						}}
					/>

					<ListInput
						label="Password"
						name="password"
						type="password"
						placeholder="Your password"
						value={password.value}
						error={password.changed && validatePassword(password.value)
							? validatePassword(password.value)
							: ''}
						onInput={(e) => {
							password = { value: e.target.value, changed: true };
						}}
					/>

					{#if form?.missing}
						<h2 class="text-center pb-2">Missing credentials!</h2>
					{:else if form?.invalid}
						<h2 class="text-center p-2">Invalid credentials!</h2>
					{/if}

					<div class="pt-4">
						<!-- @ts-ignore -->
						<Button
							{...notypecheck({
								formaction: '?/login'
							})}>Login</Button
						>
					</div>
					{#if data.isAllowedToRegister}
						<div class="pt-4">
							<Button
								onClick={(e) => {
									e.preventDefault();
									sheetOpened = true;
								}}
								>Register
							</Button>
						</div>
					{/if}
				</List>
				<Sheet class="w-full" opened={sheetOpened} onBackdropClick={() => (sheetOpened = false)}>
					<Toolbar top>
						<div class="left" />
						<div class="right">
							<Link toolbar onClick={() => (sheetOpened = false)}>Cancel</Link>
						</div>
					</Toolbar>
					<List margin="">
						<ListInput
							label="Username"
							name="username"
							type="username"
							placeholder="Your username"
						/>
					</List>
					<div class="mt-4">
						<!-- @ts-ignore -->
						<Button
							{...notypecheck({
								formaction: '?/register'
							})}>Register</Button
						>
					</div>
				</Sheet>
			</form>
		</Card>
	</div>
</Page>
